.warranty-wrapper {
    padding-bottom: 50px;
}

.tag33 {
    background-color: #ef2c34;
    border: 1px solid #ef2c34 !important;
}
.tag22 {
    background-color: #fff;
    border: 1px solid #d6d6d6 !important;
}
.tag222 {
    border: 1px solid #fff !important;
}

.tag22:hover > .tag22 {
    background-color: #ef2c34;
    border: 1px solid #ef2c34 !important;
}
.tag22:hover {
    background-color: #ef2c34;
    border: 1px solid #ef2c34 !important;
}



