// html{
//     overflow-x: hidden;
// }










/* Carusel */
.carusel-items{
    position: absolute;
    top: 47%;
    left: 37%;
    transform: translate(-50%, -50%);

}
.carusel_header1,
.carusel_header{
    position: relative;
    top: 40px;
    color: #ff1920;
    font-size: 26px;
    border-bottom: #ff1920 2px solid;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 50px;
}
.caruse_name1, .caruse_name{
    margin-top: 30px;
    color: #000;
    font-size: 50px;
    line-height: 50px;
}
.caruse_name{
    color: #fff;
}
.carusel_info1, .carusel_info{
    font-size: 28px;
    line-height: 30px;
}
.carusel_info{
    color: #fff;
}
.carusel_btn1, .carusel_btn{
    text-align: center;
    padding: 15px 70px;
    background-color: #ff1920;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 70px;
    cursor: pointer;
}
.carusel_btn{
    background-color: transparent;
    border: 2px solid #ff1920;
}
.carusel_btn1:hover, .carusel_btn:hover{
    background-color: #ff2031;
    color: #fff;
}
@media screen and (max-width:768px) {
    .carusel_header1, .carusel_header{
        margin-top: 10px;
        font-size: 16px;
        padding-bottom: 0px; 
    }
    .caruse_name1, .caruse_name{
        font-size: 20px;
        line-height: 20px;
    }
    .carusel_info1, .carusel_info{
        font-size: 13px;
        line-height: 13px;
    }
}
/* Carusel End */


/* Discount */

.discount{
    width: 100%;
}


.discount_header{
    width: 100%;
    font-family: sans-serif;
    font-size: 22px;
    color: #333;
    margin-left: 30px;
    margin-top: 30px;
}
.discount_menu{
    margin-top: 30px;    
    margin-bottom: 30px;
    margin-left: 30px;
    display: flex;
}

.drop_discount_hiddens > img{
    width: 10px;
}

.discount_href,
.discount_href1, 
.discount_href2,
.discount_href3,
.drop_discount_hiddens{
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    padding: 8px 20px;
    border: 1px solid #ccc;
    background: #fff;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all .5s;
}
.discount_href.active,
.discount_href1.active,
.discount_href2.active,
.discount_href3.active
{
    background: #ff1920;
    border: 1px solid #ff1920;
    color: #fff;
}
.discount_href:hover, 
.discount_href1:hover,
.discount_href2:hover,
.discount_href3:hover,
.drop_discount_hiddens:hover{
    background: #ff1920;
    border: 1px solid #ff1920;
    color: #fff;
}
.drop_discount_hiddens{
   box-shadow: 0px 0px 0px 1.5px #ff1920;
}
.hidden_items{
    display: none;
    position: absolute;
    width: 260px;
    margin-top: 10px;
    right: 171px;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 1px 1px 3px 1px  rgba(0,0,0,0.2);
}
 .drop_discount_hiddens:hover .hidden_items{
    display: block;
 }
 .drop_discount_hiddens:hover{
    box-shadow: 0px 0px 0px -2px #ff1920;
 }
.hidden_item,
.hidden_item1,
.hidden_item2,
.hidden_item3{
    width: 100%;
    padding: 5px 20px;
    border-bottom: 1px #ccc solid;
}
.hidden_item_a, 
.hidden_item_a1,
.hidden_item_a2,
.hidden_item_a3{
    text-decoration: none;
    color: #333;
    font-size: 15px;
}
.hidden_item_a1,
.hidden_item_a2,
.hidden_item_a3,
.hidden_item1,
.hidden_item2,
.hidden_item3
{
    display: none;
}

// media hidden hrefs

@media screen and (max-width:1100px) {
    .discount_href3,
    .hidden_item3{
        display: none;
    }
    .hidden_item_a3,
    .hidden_item3{
        display: block;
    }
}
@media screen and (max-width:862px) {
    .discount_href2,
    .hidden_item2{
        display: none;
    }
    .hidden_item_a2,
    .hidden_item2{
        display: block;
    }
}
@media screen and (max-width:601px) {
    .discount_href1,
    .hidden_item1{
        display: none;
    }
    .hidden_item_a1,
    .hidden_item1{
        display: block;
    }
}



@media screen and (max-width:414px) {
    .hidden_items{
        right: 110px;
    }
}

@media screen and (max-width:375px) {
    .hidden_items{
        right: 78px;
    }
}


// **********************

.hidden_item:hover .hidden_item_a,
.hidden_item1:hover .hidden_item_a1,
.hidden_item2:hover .hidden_item_a2,
.hidden_item3:hover .hidden_item_a3,
.hidden_item:hover,
.hidden_item1:hover,
.hidden_item2:hover,
.hidden_item3:hover{
    background: #ff1920;
    color: #fff;
}
.container_carusel{
    overflow-x: hidden;
    width: 1080px;
    font-family: sans-serif;
    margin: 10px auto;
    padding: 5px 0;
}
@media screen and (max-width:1024px) {
    .container_carusel{
    width: 720px;}
}
@media screen and (max-width:769px) {
    .container_carusel{
    width: 360px;}
}
@media screen and (max-width:420px) {
    .container_carusel{
    width: 300px;}
    .img_carusel > img,
    .img_carusel1 > img,
    .img_carusel2 > img,
    .img_carusel3 > img
    {
        width: 200px;
    }
}
.img_container_carusel{
    display: flex;
    transition:transform .5s ease-in-out;
    transform: translateX(0);
    justify-content: space-between;
}
.buttons_container_carusel{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -50px;
}
.offerNum{ 
    color: #333;
    padding: 10px 0px;
    font-size: 20px;
}
.btn_carusel{
    border: none;
    color: #444;
    cursor: pointer;
    padding: 0 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.05);
    transition: all .5s;
}
.btn_carusel:hover{
    color: #fff;
    background: #ff1920;
}

.img_carusel:hover > .offer_to_cart{
    display: flex;
}
.skitka{
    display: flex;
}
.skitka_item{
    color: #fff;
    background-color: #ff1920;
    padding: 5px 8px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 10px;
}
.offer_name{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.offer_infos{
    display: none;
}

.img_carusel1:hover .offer_infos{
    display: block;
}
.offer_info{
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.6px;
    list-style: none;
    font-weight: 500;
}
.offer_info::before{
    content: 'a';
    padding: 1px 2px;
    background-color: #ff4;
    color: #ff4;
    border-radius: 50%;
    font-size: 4px;
    position: relative;
    top: -5px;
    margin-right: 10px;
}
.offer_status{
    color: #4f4;
    font-size: 18px;
}
.offer_status::before{
    content: 'a';
    padding: 1px 2px;
    background-color: #4f4;
    color: #4f4;
    border-radius: 50%;
    font-size: 4px;
    position: relative;
    top: -5px;
    margin-right: 10px;
}
.offer_cost{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
}
.offer_to_cart{
    padding: 10px 0;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
    background-color: #ff1920;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

/* Discount End */




/*Obektive*/

.container_carusel,
.container_carusel3{
    overflow-x: hidden;
    width: 1080px;
    font-family: sans-serif;
    margin: 10px auto;
    padding: 5px 0;
}
.container_carusel3{
    width: 720px;
}
@media screen and (max-width:1024px) {
    .container_carusel{
    width: 720px;}
}
@media screen and (max-width:769px) {
    .container_carusel{
    width: 360px;}
    .container_carusel3{
        width: 360px;
    }
}
.buttons_container_carusel{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -50px;
}

.btn_carusel{
    border: none;
    text-decoration: none;
    color: #444;
    cursor: pointer;
    padding: 0 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.05);
    transition: all .5s;
}
.btn_carusel:hover{
    color: #fff;
    background: #ff1920;

}
.img_carusel,
.img_carusel1,
.img_carusel2,
.img_carusel3{
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.05);
    width: 100%;
    height: auto;
    margin: 0 10px;
    padding: 20px;
    position: relative;
    z-index: 1000;
    transition: all .1s ease-in-out;
}

.img_carusel > img,
.img_carusel1 > img,
.img_carusel2 > img,
.img_carusel3 > img{
    width: 300px;
    object-fit: cover;
}
.img_carusel:hover,
.img_carusel1:hover,
.img_carusel2:hover,
.img_carusel3:hover,
.img_carusel_scale:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 1.5px rgba(0,0,0,0.1);
    transform: translateY(-3px);
    }
.img_carusel1:hover > .offer_to_cart,
.img_carusel2:hover > .offer_to_cart,
.img_carusel3:hover > .offer_to_cart{
    display: flex;
}
.offer_to_cart:hover{
    color: #fff;
    background: rgb(204, 1, 1);
}
.obective_href{
    padding: 10px 30px;
    text-decoration: none;
    color: #333;
    border: 2px solid #ff1920;
    margin: 30px 0 50px 0;
    transition: all .5s;
    text-transform: uppercase;
}
.obective_href:hover{
    background: #ff1920;
    color: #fff;
}



// 3 Choose Products

.choose_header{
    display: flex;
}
.choose_tovars_btn{
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: #ff1920;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    margin-top: 30px;
    text-transform: uppercase;
}
.choose_tovars
{
    top: 40px;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #ccc;
    transform-origin: top;
    transition: 1s;
    box-shadow: 1px 1px 3px 1px  rgba(0,0,0,0.02);
    z-index: 1000;
    display: none;
}
.choose_tovars_btn:hover .choose_tovars{
    display: block;
}
.choose_tovar{
    list-style: none;
}
.choose_tovar > a{
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    transition: .5s;
}
.choose_tovar > a:hover{
    background: #ff1920;
    color:#fff;
}
.icon_down{
    position: absolute;
    right: 5px;
    background: #fff;
    padding: 2px 10px;
    color: #000;
}

// Choose Product add

.choose_product_add{
    padding: 30px;
    margin-top: 50px;
    border: #ddd solid 1px;
}
.choose_product_add_input{
    border: 2px solid #ff1920;
}
.choose_product_add_input >input{
    border: none;
    outline: none;
    padding: 8px 10px;
}
.choose_product_add_input >input::placeholder{
    padding: 8px 10px;
}
.choose_product_add_icon{
    background: #ff1920;
    color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    top: 2px;
    right: -30px;
    padding: 8px 10px;
    font-size: 22px;
}
.choose_product_add_img{
    margin-top: 30px;
}
.product_info{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid #ff1920;
    transition: .5s;
}
.product_info_href{
    text-decoration: none;
    color: #333;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
}
.product_info:hover,
.product_info_href:hover{
    background-color: #ff1920;
    color: #fff;
}
@media screen and (max-width:1024px) {
    .add_product{
        display: none;
    }
}
.add_products{
    margin: 0 auto;
}
.photo_img{
    margin-right: 50px;
    width: 100%;
    height: 320px;
    background-size: cover;
    overflow: hidden;
}
@media screen and (max-width:720px) {
    .photo_img{
        margin-bottom: 40px;
        width: 90%;


    }
}
.photo_img_after{
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200%;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    color: #fff;
    font-size: 40px;
    transform-origin: bottom;
    transition: .5s;
}
.bag_icon{
    width: 100px;
    height: 100px;
    border: 2px #fff solid;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.photo_img:hover .photo_img_after{

top: 0;
}

.fa-comment-alt{
    font-size: 30px;
}

.photo_img_after1{
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 100%;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: .7;
    color: #000;
    font-size: 30px;
    transition: .5s;
}
.photo_img:hover .photo_img_after1{
    left: 0;
}
.tangle_top{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-top: #ff1920 solid 4px;
    border-left: #ff1920 solid 4px;
    opacity: 1;

}
.tangle_bottom{
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-bottom: #ff1920 solid 4px;
    border-right: #ff1920 solid 4px;
    opacity: 1;

}
.photo_img_after1 p{
    text-align: center;
    padding: 0 20px;
    line-height: 30px;
}




//*****************************